apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .EnvPrefix }}-{{ .SlugName }}-deploy
  namespace: {{.Namespace}}
  labels:
    app: {{ .Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Name }}
  template:
    metadata:
      labels:
        app: {{ .Name }}
    spec:
      containers:
      - name: app
        image: {{ .Name }}:latest
        ports:
        - name: app-port
          containerPort: 3000
        resources:
          requests:
            cpu: 100m
            memory: 200M
          limits:
            cpu: 200m
            memory: 300M
        livenessProbe:
          tcpSocket:
            port: app-port
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 12 # 1 minute
        readinessProbe:
          httpGet:
            path: /health
            port: app-port
          initialDelaySeconds: 10
          periodSeconds: 15
          failureThreshold: 4 # 1 minute
